@media (max-width: 425px) {
    .mainWordpress{
        .wordpress{
            .card{
                width: 300px;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 1024px) {
    .mainWordpress{
        .wordpress{
            .card{
                width: 350px;
                margin: 0 auto;
            }
        }
    }
}