@media (min-width:2560px){
    .seccionPrincipal .container{
        display: flex;
        margin: auto;
        margin-left: 20%;
        margin-right: 20%;
    }
    .seccionGeneralProyectos{
        margin-left: 0%;
        margin-right: 0%;
    }
    .containerFooter{
        display: flex;
        margin-left: inherit;
    }
    .containerFooter a img{
        width: 7%;
    }
}