@media (min-width:2560px){
    .seccionPrincipal .container{
        display: flex;
        margin: auto;
        margin-left: 20%;
        margin-right: 20%;
    }
    .containerFooter{
        display: flex;
        margin-left: inherit;
    }
    .containerFooter a img{
        width: 3%;
        margin-left: inherit;
    }
    .seccionProyectos a img{
        padding: 0px 40px 0px 40px;
        width: 1240px;
    }
    .certificados figure img{
        padding: 0 40px 0 40px;
        height: 700px;
    }
    .container-description{
        font-size: 70px;
    }
    .section-proy h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 90px;
        text-align: center;
    }
    nav .header {
        display: flex;
        font-size: 60px;
    }
    .seccionPortada{
        background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-neo-2653362.jpg&fm=jpg");
        height: 750px;
    }
    .seccionPortada img{
        height: 400px;
    }
    .seccionPortada h1{
        font-size: 70px;
    }
    .seccionPortada p{
        font-size: 60px;
    }
    .containerFooter a img{
        width: 25%;
        margin-left: inherit;
        padding: 0 10px 0 10px;
    }
}