@media (min-width:768px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    nav .header{
        display: flex;
        font-size: 100%;
    }
    .seccionPortada{
        background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-neo-2653362.jpg&fm=jpg");
        height: 500px;
    }
    .seccionPortada img{
        height: 350px;
    }
    .seccionPortada h1{
        font-size: 30px;
    }
    .seccionPortada p{
        font-size: 25px;
    }
    .seccionDescripcion{
        padding-top: 20px;
    }
    .seccionDescripcion #frase{
        padding-top: 20px;
        margin: auto;
        margin-left: 20%;
        margin-right: 20%;
    }
    .seccionGeneralProyectos{
        display: flex;
        margin: auto;
    }
    .seccionProyectos p{
        font-size: 25px;
    }
    .containerFooter{
        display: flex;
        margin-left: inherit;
    }
    .containerFooter a img{
        width: 10%;
        margin-left: inherit;
    }
    /*DEBIAN.HTML*/
    .containerDebian{
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .iconosDebian{
        justify-content: center;
    }
    .iconosDebian{
        align-items: center;
        margin-left: 20%;
    }
    .iconosDebian picture{
        display: flex;
        width: 20%;
    }
    .iconosDebian picture img{
        padding: 15px;
    }
    /*WORDPRESS.HTML*/
    .containerWordpress{
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .iconosWordpress{
        justify-content: center;
        margin-left: 20%;
    }
    .iconosWordpress picture{
        display: flex;
        width: 20%;
    }
    .iconosWordpress picture img{
        padding: 15px;
    }
    .containerWordpress .imagenes_ux_wp .container .row{
        display: flex;
        padding-top: 3%;
    }
    .containerWordpress .imagenes_ux_wp img{
        padding-right: 10px;
        width: 100%;
    }
}