@media (min-width:1024px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .seccionPortada{
        background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-neo-2653362.jpg&fm=jpg");
        height: 550px;
    }
    .seccionPortada img{
        height: 380px;
    }
    .seccionPortada h1{
        font-size: 40px;
    }
    .seccionPortada p{
        font-size: 30px;
    }
    .containerFooter{
        display: flex;
        margin-left: inherit;
    }
    .containerFooter a img{
        width: 10%;
        margin-left: inherit;
    }
    /*CERTIFICADOS*/
    .seccionCertificados{
        margin: auto;
        padding-bottom: 20px;
    }
    .certificados{
        display: flex;
        align-items: center;
    }
    .certificados img{
        
        padding: 10px;
        width: 25%;
    }
    /*DEBIAN.HTML*/
    .containerDebian{
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .iconosDebian{
        justify-content: center;
    }
    .iconosDebian{
        align-items: center;
        margin-left: 30%;
    }
    .iconosDebian picture{
        display: flex;
        width: 15%;
    }
    .iconosDebian picture img{
        padding: 15px;
    }
    /*WORDPRESS.HTML*/
    .containerWordpress{
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .iconosWordpress{
        justify-content: center;
        margin-left: 27%;
    }
    .iconosWordpress picture{
        display: flex;
        width: 13%;
    }
    .iconosWordpress picture img{
        padding: 15px;
    }
}