@import "./global.scss";


.mainIndex{
    background-image: url("../imagenes/pexels-neo-2653362.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .row{
        margin-bottom: 0px;
        text-align: center;
        .perfil img{
            width: 255px;
            border-radius: 300px;
            margin-top: 1%;
        }
        .nombre h1{
            color: $color-claro;
            font-family: $font;
            padding-top: 10px;
            font-size: 40px;
        }
        .profesion p{
            color: $color-claro;
            font-family: $font;
            font-size: 35px;
        }
        .especialidad p{
            color: $color-claro;
            font-family: $font;
            font-size: 30px;
            padding-bottom: 40px;
        }
    }
}