    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    .header{
        display: inherit;
        font-size: 15px;
    }

    /*------------------------------------------------------------------------*/
    /*INICIO ESTILO MOBIL SECCION PORTADA*/
    .seccionPortada{
        display: inherit;
        height: 400px;
        padding-top: inherit;
    }
    .seccionPortada img{
        display: inherit;
        margin-left: 20%;
        height: 200px;
    }
    .seccionPortada ul{
        padding-top: 10px;
    }
    /*FIN ESTILO MOBIL SECCION PORTADA*/
    /*------------------------------------------------------------------------*/

    /*------------------------------------------------------------------------*/
    /*INICIO ESTILO MOBIL SECCION DESCRIPCION*/
    .seccionDescripcion{
        padding-right: 50px;
        padding-left: 50px;
    }
    .seccionDescripcion #frase{
        margin-left: 10%;
    }
    .seccionDescripcion #separador{
        margin-top: -25px;
        margin-bottom: 60px;
    }
    /*FIN ESTILO MOBIL SECCION DESCRIPCION*/
    /*------------------------------------------------------------------------*/

    /*------------------------------------------------------------------------*/
    /*INICIO ESTILO MOBIL SECCION PROYECTOS*/
    .seccionGeneralProyectos{
        display: block;
        padding-left: 5px;
        padding: 10px;
    }
    .seccionProyectos img{
        padding: 1px;
        height: 150px;
        text-align: center;
    }
    /*FIN ESTILO MOBIL SECCION PROYECTOS*/
    /*------------------------------------------------------------------------*/

