@media (max-width: 600px){
    .seccionPortada{
        display: inherit;
    }
    .seccionPortada img{
        display: inherit;
        margin-left: 10%; 
    }
    .seccionPortada ul{
        padding-top: 10px;
    }
    .seccionDescripcion{
        padding-right: 50px;
        padding-left: 50px;
    }
    .seccionDescripcion #frase{
        margin-left: 10%;
    }
    .seccionDescripcion #separador{
        margin-top: -25px;
        margin-bottom: 60px;
    }
    .seccionGeneralProyectos{
        display: inherit;
        padding-left: 5px;
        padding: 10px;
    }
}

