@media (max-width: 600px){
    .seccionPortada{
        display: inherit;
        height: 400px;
        padding-top: inherit;
    }
    .seccionPortada img{
        display: inherit;
        margin-left: 5%;
        height: 140px;
    }
    .seccionPortada ul{
        padding-top: 10px;
    }
    .seccionDescripcion{
        padding-right: 50px;
        padding-left: 50px;
    }
    .seccionDescripcion #frase{
        margin-left: 10%;
    }
    .seccionDescripcion #separador{
        margin-top: -25px;
        margin-bottom: 60px;
    }
    .seccionGeneralProyectos{
        display: inherit;
        padding-left: 5px;
        padding: 10px;
    }
    .seccionProyectos img{
        height: 200px;
    }
}

