@media (min-width:375px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .seccionProyectos a img{
        padding: 0 10px;
        width: 240px;
    }
    .certificados figure img{
        padding: 0 10px;
        height: 110px;
    }
}