/*INICIO VARIABLES*/
:root{
    --color-header-footer: rgb(21, 95, 138);
    --sombraDeCaja: 0 0 5px black;
}
/*FIN VARIABLES*/

/*------------------------------------------------------------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: var(--color-header-footer);
    padding: 25px;
    display: flex;
    padding-right: 5px;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    font-size: 15px;
}
nav li{
    display: flex;
    padding-right: 10px;
}
nav li a{
    color: white;
    text-decoration: none;
}
nav li a:hover{ /*hover -> animacion al pasar la flecha del mouse*/
    text-decoration: underline;
}
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*INICIO ESTILOS DE SECCION PORTADA*/
.seccionPortada{
    display: grid;
    background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-neo-2653362.jpg&fm=jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
    width: 100%;
}
.seccionPortada img{
    padding: 40px;
    border-radius: 200px;
    display: block;
    margin-left: 37%; 
    height: 300px;
    margin-bottom: -70px;
}
.seccionPortada ul{
    color: white;
    text-align: center;
}
/*FIN ESTILOS DE SECCION PORTADA*/
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*INICIO ESTILOS SECCION DESCRIPCION*/
.seccionDescripcion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    text-align: center;
    padding: 300px 300px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-style: italic;
    color: rgb(175, 175, 175);
}
.seccionDescripcion #frase{
    margin-bottom: 0px;
    margin-left: 8%;
}
/*FIN ESTILOS SECCION DESCRIPCION*/
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*INICIO ESTILOS SECCION PROYECTOS*/
.seccionGeneralProyectos{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.seccionProyectos{
    text-align: center;
    box-shadow: var(--sombraDeCaja);
    margin: 10%;
}
.seccionProyectos p{
    text-align: center;
    padding: 10px;
}
.seccionProyectos img{
    height: 250px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}
.seccionProyectos input{
    color: rgb(255, 255, 255);
    background-color: var(--color-header-footer);
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}
.seccionPrincipal{
    padding-bottom: 20px;
}
/*FIN ESTILOS SECCION PROYECTOS*/
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*INICIO ESTILOS FOOTER*/
footer{
    background-color: var(--color-header-footer);
    padding: 40px;
    display: flex;
}
/*FIN ESTILOS FOOTER*/
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*INICIO PAGINA DE CONTACTO FORMULARIO*/
.formularioContacto{
    box-shadow: var(--sombraDeCaja);
    background-color: white;
    padding: 60px;
    margin: 5%;
    margin-inline: auto;
    width: max-content;
    text-align: -webkit-center;
}
.formularioContacto input{
    padding: 10px;
}
.formularioContacto .btnEnviar{
    width: 70%;
    background-color: var(--color-header-footer);
    color: white;
}
.formularioContacto #experiencia{
    width: 100%;
    padding: 10px;
}
/*FIN PAGINA DE CONTACTO FORMULARIO*/
/*------------------------------------------------------------------------*/