@import "./index.scss";
@import "./global.scss";
@import "./perfil.scss";
@import "./wordpress.scss";
@import "./breakpoints.scss";
@import "./diseñoWeb.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background: $color-fondo-main;
}

nav{
    background-color: $color-fondo;
    .navbar-toggler-icon{
        background-image: url("../imagenes/icons8-menú-52.png");
        width: 20px;
    }
    .nav-item{
        .nav-link{
            color: $color-claro;
        }
        .dropdown-menu{
            color: $color-p;
        }
    }
}

footer{
    background-color: $color-fondo;
    height: auto;
    .row{
        .col img{
            width: 70px;
            padding: 5px;
        }
    }
}
