@media (min-width:1024px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    main h1, p{
        font-size: 40px;
    }
    .seccionPortada{
        background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-neo-2653362.jpg&fm=jpg");
        height: 550px;
    }
    .seccionPortada img{
        height: 300px;
    }
    .containerFooter{
        display: flex;
        margin-left: inherit;
    }
    .containerFooter a{
        padding: 0 15px;
    }
    .containerFooter a img{
        width: 40px;
        margin-left: inherit;
    }
    .seccionProyectos a img{
        width: 540px;
    }
    .certificados figure img{
        padding: 0 40px 0 40px;
        height: 300px;
    }
    nav .header {
        display: flex;
        font-size: 15px;
    }
}