.seccionPortada img{
    margin-left: 30%;
}
.seccionDescripcion{
    padding: 40px 40px;
    padding-top: 30px;
    padding-bottom: 1px;
}
.seccionGeneralProyectos{
    display: block;
    flex-wrap: wrap;
}