.binarios {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.binarios img {
  padding-top: 50px;
  padding-bottom: 30px;
}
.binarios h1,
.binarios p {
  color: black;
  padding: 15px 20px;
}
.binarios__container {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.binarios__container img {
  margin-top: -25px;
}
.binarios__container--date {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.binarios__container--date p {
  margin: auto;
}
.binarios__container--comisiones {
  padding: 0 10% 0 10%;
  margin: auto;
}
.binarios__container--comisiones--comisiones {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, auto);
  background-color: #fff9f9;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  text-align: left;
  margin: auto;
  padding: 0px 100px;
  box-shadow: 5px 5px 7px #b3b6b6, -5px -5px 7px #ffffff;
}
.binarios__container--money {
  padding-left: 10%;
  margin: auto;
}
.binarios__container--money--monedas {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, auto);
  background-color: #fff9f9;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  text-align: left;
  margin: auto;
  padding: 0px 100px;
  box-shadow: 5px 5px 7px #b3b6b6, -5px -5px 7px #ffffff;
}
