* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "DM Sans", "sans-serif";
  border: 2px solid black;
  width: 500px;
  margin: auto;
}
.footer {
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  text-align: center;
  padding: 15px 0px;
}
