/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*--- end of reset ----*/

:root {
  --blanco: white;
  --gris-medio: #333333;
  --gris-oscuro: #1e1e1e;
  --secondary-font: "Kodchasan", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --verde: #7ac943;
}

/* Fonts */

.kodchasan-extralight {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kodchasan-light {
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kodchasan-regular {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kodchasan-medium {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kodchasan-semibold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kodchasan-bold {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kodchasan-extralight-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kodchasan-light-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kodchasan-regular-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kodchasan-medium-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kodchasan-semibold-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kodchasan-bold-italic {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Body */

body {
  align-items: center;
  background-color: var(--gris-medio);
  display: flex;
  flex-direction: column;
}

/* Perfil */

.perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: var(--blanco);
  font-family: var(--secondary-font);
  font-size: 55px;
  margin-top: 16px;
  text-align: center;
}

.header-img {
  border-radius: 50%;
  border: 1px solid var(--gris-oscuro);
  box-shadow: 8px 16px 32px 0px var(--shadow);
  height: 300px;
  margin-top: 80px;
  width: 300px;
}

.subtitle {
  color: var(--verde);
  font-family: var(--secondary-font);
  font-size: 24px;
}

/* tabs */

.navigation {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 24px 0;
}

.nav-item{
  background-color: var(--blanco);
  font-family: var(--secondary-font);
  border-radius: 5px;
  padding: 4px 8px;
}

.nav-item .nav-item--about,
.nav-item .nav-item--experience,
.nav-item .nav-item-hv{
  text-decoration: none;
  color: var(--gris-oscuro);
  padding: 16px;
}

.nav-item:hover {
  background-color: var(--verde);
}

.content {
  display: none;
}

#container-intro,
#container-experience {
  margin-inline: 10%;
  color: var(--blanco);
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.5;
}

.content-experience {
  margin-bottom: 16px;
}

.content-experience h3{
  color: var(--verde);
}

.content-experience h4{
  font-weight: bold;
}

.active{
  display: block;
}

/* Socials */

.social-media {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 32px auto;
  width: 100%;
}