*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: hsl(0, 0%, 100%);
}

/* MENU PRINCIPAL */
.nav-sections{
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.res-nav-sections{
    display: none;
}

.nav-container{
    margin: 0 50px;
}

.tabs-menu{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    align-items: stretch;
    justify-content: center;
}

/* BOTONES PRINCIPALES */
.button-section{
    width: 145px;
    margin: 5px 5px;
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    border-right: 2px solid hsl(212, 83%, 62%);
}

.button-section:last-child{
    border-right: none;
}

.button-section img{
    width: 30px;
    margin-bottom: 10px;
}

.btn-txt{
    color: hsl(222, 71%, 22%);
}

.btn-txt:hover{
    color: hsl(212, 83%, 62%);
}

/* CONTENIDO PRINCIPAL */

.content-section{
    padding: 25px;
    text-align: justify;
    display: none;
}

/* INTERACTIVIDAD */
.active{
    display: block;
}

.button-section:hover{
    color: hsl(212, 83%, 62%);
}

.button-section.active{
   color: hsl(212, 83%, 62%);
}

/* MENU INTERNO 1 */
/*CONTAINER*/
.tab-container{
    width: 100%;
    display: flex;
    position: relative;
    padding: 10px 60px;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid hsl(212, 83%, 62%);
  }
  
  /* TAB */
  .tab {
    width: 35%;
  }
  
  /* TAB BOTONES */
  .tab button {
    width: 100%;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    text-align: left;
    padding: 10px 16px;
    transition: all 0.3s ease;
    color: hsl(222, 71%, 22%);
    border-right: 1px solid hsl(212, 83%, 62%);
    background-color: hsl(0, 0%, 100%);
  }
  
  .tab button:hover {
    color: hsl(212, 83%, 62%);
  }
  
  .tab button.active {
    color: hsl(212, 83%, 62%);
  }
  
  /* CONTENIDO*/
  .tabcontent {
    width: 100%;
    display: none;
    padding: 0px 12px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .tabcontent-cont{
      width: 100%;
      display: block;
  }

  .sub-primario,
  .sub-txt{
    margin: 20px 0;
    font-size: 15px;
    font-weight: 600;
    color: hsl(222, 71%, 22%);
  }
  
  .sub-txt{
    color: hsl(212, 83%, 62%);
  }
  
  .color{
    color: hsl(212, 83%, 62%);
  }
  
  .color-2{
    color: hsl(212, 83%, 62%);
  }
  
  .tabcontent.active{
    display: flex;
    flex-wrap: wrap;
  }
  
  .ser-ctn{
    display: flex;
    width: 100%;
    margin: 25px 0;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .ser-ctn-btn{
    width: 120px;
    height: 90px;
    margin: 0 10px;
    padding: 0 10px;
  }
  
  .ser-ctn-btn a{
    color: hsl(222, 71%, 22%);
    text-decoration: none;
  }

  .ser-ctn-btn a:hover{
    color: hsl(212, 83%, 62%);
  }

  .ctn-btn-img img{
      width: 30px;
  }
/* BOTON VENTANA MODAL */
.more{
    width: 100%;
    padding: 0;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    color: hsl(222, 71%, 22%);
    transition: all .3s ease;
    background-color: transparent;
}

.more:hover,
.inner-ls-it2:hover{
    color: hsl(212, 83%, 62%);
}

/* VENTANA MODAL */
.modal-more{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
}

.modal-more.active{
    display: flex;
}

.modal{
    opacity: 0;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transform: scale(.7);
    transition: all .3s ease;
    background-color: #f8f8f8;
    font-family: 'Monserrat', sans-serif;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

/* BOTONES VENTANA MODAL */
.modal-link,
.modal-cerrar{
    opacity: 0;
    width: 80px;
    height: 30px;
    padding: 8px;
    color: white;
    font-size: 16px;
    margin: 10px 15px;
    line-height: 16px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease;
    background-color: hsl(222, 71%, 22%);
}

.modal-cerrar:hover,
.modal-link:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(212, 83%, 62%);
}

/* TEXTO VENTANA MODAL */
.title-modal{
    opacity: 0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
    color: hsl(222, 71%, 22%);
}

.text-modal{
    opacity: 0;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* ANIMACIONES PANTALLA MODAL */
.modal.active{
    opacity: 1;
    transform: scale(1);
}

.modal.active h3{
    animation: entradaTitulo .8s ease .5s forwards;
}

.modal.active p{
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.modal.active a{
    animation: entradaBtns 1s ease 1s forwards;
}

.responsive{
    display: none;
}

@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaBtns{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {

    /* MENU PRINCIPAL */
    .nav-sections{
        display: none;
    }

    /* MENU RESPONSIVE */
    .responsive{
        display: block;
    }

    button.menu-container{
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 12px;
        text-align: left;
        transition: 0.4s;
        color: hsl(0, 0%, 100%);
        background-color: hsl(212, 83%, 62%);
    }

    button.menu-container:hover{
    color: white;
    }

    .panel-menu{
        padding: 0 18px;
    }

    .conta-ctn-pnl{
        width: 100%;
        padding: 20px 15px;
        border-left: 2px solid hsl(212, 83%, 62%);
        border-right: 2px solid hsl(212, 83%, 62%);
        border-bottom: 2px solid hsl(212, 83%, 62%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .content-panel{
        width: 100%;
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .content-panel a{
        font-size: 10px;
        font-weight: 400;
        color: hsl(222, 71%, 22%);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }

    .panel-img{
        margin: 0 20px;
    }

    .imgp{
        width: 30px;
    }

    .acc{
        text-decoration: none;
    }

    .accordion{
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 7px 0;
        text-align: left;
        font-size: 12px;
        color: hsl(222, 71%, 22%);
        font-family: 'Roboto', sans-serif;
        background-color: hsl(0, 0%, 100%);
        border-bottom: 2px solid hsl(212, 83%, 62%);
        transition: 0.4s;
      }
    
      .active, .accordion:hover {
        display: block;
        color: hsl(212, 83%, 62%);
      }
      

      .panel {
        background-color: hsl(0, 0%, 100%);
        display: none;
        overflow: hidden;
      }
      
}
