@import "./global.less";
@import "./header.less";
@import "./binarios.less";
@import "./servicios.less";
.imagen{
    background-image: url("https://i.ibb.co/tpCcQyK/bitcoinbaby-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    color: white;
    text-align: center;
    font-size: 30px;
}
@import "./planes.less";
@import "./footer.less";