@import "./global.less";
@import "./header.less";
@import "./binarios.less";
@import "./servicios.less";
.imagen{
    background-image: url("https://i.ibb.co/tpCcQyK/bitcoinbaby-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    text-align: center;
    h1{
        padding-top: 10%;
        color: fade(white, 70%); //fade es una funcion para dar opacidad
        font-size: 60px;
    }
}
@import "./planes.less";
@import "./footer.less";