@fontTitle: "DM Sans", "sans-serif";
@fontText: "Inter", sans-serif;
@bitcoinOrange: #f7931a;
@softOrange: #ffe9d5;
@scondaryBlue: #1a9af7;
@softBlue: #e7f5ff;
@warmBlack: #201e1c;
@grey: #bababa;
@offWhite: #faf8f7;
@justWhite: #ffffff;
@colorTitle: #ff9536;
@colorh2: #757575;
@backgroundHeaderFooter: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: @fontTitle;
  border: 2px solid black;
  width: 500px;
  margin: auto;
}
