@media (min-width:375px){
    main .main-table-bitcoin{
        display: flex;
        margin: 0 auto 5%;
        width: 65%;
    }
    main .main-title-table{
        margin-left: 18%;
        margin-bottom: 5%;
    }
    main .main-date-table{
        width: 100%;
    }
    footer .footer-column-second{
        margin: auto;
        padding: 1% 0 0 1%;
    }
    main .main-table-bitcoin {
        display: flex;
        width: 80%;
        margin-left: 10%;
        padding-right: 10%;
    }
}