:root{
    --fontTitle: 'DM Sans','sans-serif';
    --fontText: 'Inter', sans-serif;
    --bitcoinOrange: #F7931A;
    --softOrange: #FFE9D5;
    --scondaryBlue: #1A9AF7;
    --softBlue: #E7F5FF;
    --warmBlack: #201E1C;
    --grey: #BABABA;
    --offWhite: #FAF8F7;
    --justWhite: #FFFFFF;
    --colorTitle: #FF9536;
    --colorh2: #757575;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: var(--fontTitle);
}
header{
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    background-size: 100%;
    height: 307px;
    width: 100%;
}
header .header-img-logo{
    width: 150px;
    margin: auto;
    padding-top: 39px;
    padding-bottom: 33px;
}
header .header-content-title{
    margin: auto;
}
header .header-content-title h1{
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: white;
    margin: 0  16px 24px 16px;
}
header .header-content-title p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: var(--softOrange);
    margin: 32px 16px 32px 16px;
}
header .header-buttom-float{
    position: absolute;
    padding: 15px 20px 15px 16px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    text-align: -webkit-center;
    width: 90%;
    margin: 0 5% 0 5%;
}
header .header-buttom-float a{
    color: var(--warmBlack);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: auto;
}
main .main-section-first{
    background-color: var(--offWhite);
    width: 100%;
    padding-bottom: 10%;
}
main .main-img-bitcoin{
    padding: 20% 0 10% 0;
    text-align: center;
}
main .main-content-title-bitcoin{
    text-align: center;
    margin: auto;
}
main .main-content-title-bitcoin h1{
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;
    color: var(--warmBlack);
}
main .main-content-title-bitcoin h2{
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 48px;
    color: var(--colorh2);
    ;
}
main .main-title-table{
    margin-left: 12%;
    margin-bottom: 5%;
}
main .main-title-table p{
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: var(--colorTitle);
}
main .main-table-bitcoin{
    display: flex;
    margin: 0 auto 5%;
    width: 80%;
}
main .main-table-bitcoin .main-table{
    padding-right: 22px;
    background-color: white;
    border-radius: 8px;
}
main .main-table-bitcoin .main-table .main-table-tr-title{
    padding: 10px 12px 10px 12px;
    font-family: var(--fontText);
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B5B0AC;
} 
main .main-table-bitcoin .main-table .main-table-tr-money{
    padding: 11px 10px 11px 12px;
    font-family: var(--fontText);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--colorh2);
    margin-right: 10px;
}
main .main-table-arrow-right{
    margin: auto;
}
main .main-table-arrow-right img{
    color: var(--warmBlack);
}
main .main-date-table{
    display: flex;
    padding: 8px;
    background-color: var(--softOrange);
    margin: 0 0 0 11%;
    width: 64%;
}
main .main-date-table .main-strong{
    font-family: var(--fontText);
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    margin: auto;
    color: var(--warmBlack);
}
main .main-date-table .main-date{
    font-family: var(--fontText);
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    margin-left: 5px;
    margin: auto;
    color: var(--warmBlack);
}
main .main-second-section{
    background-color: var(--warmBlack);
    width: 100%;
}
main .main-second-section .main-icon-section-second img{
    margin: -5% 40% 0 40%;
    width: 15%;
    position: absolute;
}
main .main-title-section-black{
    margin: auto;
    text-align: center;
}
main .main-title-section-black h1{
    padding: 64px 17px 24px 15px;
    color: var(--justWhite);
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
}
main .main-title-section-black h2{
    padding: 0px 17px 32px 15px;
    color: #808080;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
main .main-inter-section-black{
    margin: auto;
    display: block;
    text-align: left;
    padding: 16px 16px;
    
}
main .main-inter-section-black div{
    margin-bottom: 16px;
    background-color: #282623;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
main .main-inter-section-black img{
    padding-top: 14px;
    padding-left: 18px;
}
main .main-inter-section-black p{
    padding: 12px 0 10px 16px;
    color: var(--justWhite);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
main .main-inter-section-black h2{
    padding: 0 0 22px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
}
main .main-third-section{
    background-image: url(https://cdn.pixabay.com/photo/2017/10/08/10/31/bitcoin-2829407__340.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 245px;
}
main .main-third-section .main-title-third-section h1{
    text-align: center;
    color: black;
    font-weight: 500;
    font-style: normal;
    font-size: 34px;
    line-height: 26px;
    margin: auto;
    padding-top: 10%;
}
main .main-fourth-section{
    background-color: var(--offWhite);
    padding-top: 15%;
    padding-bottom: 15%;
}
main .main-fourth-section .main-title{
    margin: auto;
    width: 90%;
}
main .main-fourth-section .main-title h1{
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--warmBlack);
}
main .main-fourth-section .main-title h2{
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--colorh2);
    margin-top: 10%;
}
main .main-fourth-section .main-top-button{
    position: absolute;
    text-align: center;
    margin: -16% 0% 0% 0%;
    width: 100%;
}
main .main-cards-fourth-section{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-bottom: 10%;
    padding-top: 13%;
}
main .main-cards-fourth-section .main-card-first, .main-card-sold, .main-card-second{
    padding: 0 30% 0 5%;
}
main .main-fourth-section .main-content-price{
    padding: 10px;
    background-color: white;
    margin: auto;
    width: 160%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    height: 280px;
    position: relative;
    scroll-snap-align: center;
}
main .main-fourth-section .main-content-price .main-title p{
    font-family: var(--fontText);
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 10px;
    background-color: var(--bitcoinOrange);
    border-radius: 8px;
    margin: -21% 15% 0 7%;
    width: 70%;
    color: var(--justWhite);
    position: absolute;
}
main .main-fourth-section .main-content-price .main-title h2{
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 5%;
}
main .main-fourth-section .main-content-price .main-price{
    display: flex;
    margin: auto;
    width: 43%;
}
main .main-fourth-section .main-content-price .main-price #caracter{
    font-family: var(--fontText);
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 10px;
}
main .main-fourth-section .main-content-price .main-price #price{
    font-family: var(--fontText);
    font-weight: 700;
    font-style: normal;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -8%;
    text-align: center;
}
main .main-fourth-section .main-content-price .main-text-price p{
    margin-top: 5%;
    font-family: var(--fontText);
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: var(--colorh2);
}
main .main-fourth-section .main-content-price .main-bottom-button{
    display: flex;
    padding: 10px;
    margin-top: 10%;
    background-color: #FAF8F7;
    border: 2px solid #F7931A;
    border-radius: 4px;
    width: 86%;
    margin: 10% auto;
}
main .main-fourth-section .main-content-price .main-bottom-button p{
    padding-right: 12px;
    font-size: 14px;
    color: var(--warmBlack);
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
    text-align: center;
}
footer{
    background-color: var(--bitcoinOrange);
    display: flex;
    width: 100%;
}
footer .footer-column-first{
    display: grid;
    padding: 10% 20% 10% 10%;
}
footer .footer-column-first a{
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 8px;
    color: var(--justWhite);
    text-decoration: none;
}
footer .footer-column-second{
    margin: auto;
    padding: 1% 0 0 1%;
}
footer .footer-column-second img{
    width: 40px;
    height: 24px;
}
footer .footer-column-second p{
    color: var(--softOrange);
    font-size: 8px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
    text-align: center;
}







