:root{
    --fontTitle: 'DM Sans','sans-serif';
    --fontText: 'Inter', sans-serif;
    --bitcoinOrange: #F7931A;
    --softOrange: #FFE9D5;
    --scondaryBlue: #1A9AF7;
    --softBlue: #E7F5FF;
    --warmBlack: #201E1C;
    --grey: #BABABA;
    --offWhite: #FAF8F7;
    --justWhite: #FFFFFF;
    --colorTitle: #FF9536;
    --colorh2: #757575;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: var(--fontTitle);
    border: 2px solid black;
    width: 500px;
    margin: auto;
}
/*INICIO SECCION HEADER*/
header{
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    background-size: 100%;
    height: 290px;
    width: 100%;
    text-align: center;
}
.container{
    margin: auto;
    padding: 30px 10px;
}
.container p, h1{
    padding-top: 30px;
    color: white;
}
.container p{
    padding-bottom: 40px;
}
.container__button{
    position: relative;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    text-align: center;
    width: 50%;
    display: inline-flex;
    justify-content: center;
}
.container__button a{
    color: black;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: auto;
}
/*FIN SECCION HEADER*/
/*INICIO SECCION BITCOIN*/
.binarios{
    text-align: center;
}
.binarios h1, p{
    color: black;
    padding: 15px 20px;
}
.binarios__container--money--monedas, .binarios__container--comisiones--comisiones{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
    background-color: rgb(255, 249, 249);
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    text-align: left;
    margin: auto;
    padding: 0px 100px;
    box-shadow:  5px 5px 7px #b3b6b6,
             -5px -5px 7px #ffffff;
}
.binarios__container--comisiones, .binarios__container--money{
    padding-left: 10%;
    margin: auto;
}
.binarios__container--comisiones{
    padding-right: 10%;
}
.binarios__container img{
    margin: auto;
}
.binarios__container--date{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.binarios__container--date p{
    margin: auto;
}
.binarios__container{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
/*FIN SECCION BITCOIN*/
/*INICIO SECCION SERVICIOS*/
.servicios{
    background-color: black;
    color: white;
}
.servicios__card{
    padding: 0px 20px 10px 20px;
}
.servicios h1{
    text-align: center;
    font-size: 30px;
}
.servicios p{
    text-align: center;
    color: gray;
}
.servicios__card div{
    background-color: rgb(39, 37, 37);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.servicios__card p{
    text-align: left;
}
/*FIN SECCION SERVICIOS*/
/*INICIO IMAGEN FONDO*/
.imagen{
    background-image: url("https://i.ibb.co/tpCcQyK/bitcoinbaby-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    font-size: 24px;
}
/*FIN IMAGEN FONDO*/
/*INICIO PLANES*/
.planes{
    text-align: center;
}
.planes h1{
    color: black;
    font-size: 32px;
    margin-top: 30px;
}
.planes h2{
    color: black;
    font-size: 18px;
    margin-top: 26px;
}
.planes__card {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 90%);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}
.planes__card--general{
    border-radius: 10px;
    border: 0px solid black;
    box-shadow:  5px 5px 10px #828282,
             -5px -5px 10px #ffffff;
    margin: 20% 5% 20% 5%;
    background-color: rgb(247, 246, 244);
    font-weight: bold;
}
.planes__card--general--recomendado{
    padding: 10px;
    background-color: #F7931A;
    position: relative;
    width: 40%;
    margin: auto;
    border-radius: 15px;
    color: white;
    top: -20px;
    font-weight: bold;
}
.planes__card--general--precio{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.planes__card--general--precio--pesos{
    padding: 0px;
}
.planes__card--general--precio--valor{
    font-size: 52px;
    line-height: 63px;
    letter-spacing: -0.08em;
    padding: 0px;
}
.planes__card--general--text{
    font-weight: 500;
    font-size: 12px;
}
.planes__card--general--boton{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 2px solid rgb(255, 165, 0);
    margin-bottom: 5%;
}
.planes__card--general--boton img{
    margin: auto 0px;
}
/*FIN PLANES*/
.footer{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    text-align: center;
    padding: 15px 0px;
}













