@media (min-width:425px){
    header .header-buttom-float{
        margin-top: 5%;
    }
    main .main-table-bitcoin{
        display: flex;
        margin: 0 auto 5%;
        width: 55%;
    }
    main .main-date-table{
        margin: 0 0 0 22%;
        width: 50%;
    }
    footer .footer-column-second{
        margin: auto;
        padding: 1% 0 0 1%;
    }
}