*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #050c37, #160f3d, #260f42, #360d46, #450948);
    height: 100vh;
    color: white;
}

.container{
    border: 1px solid rgba(255, 255, 255, 0.378);
    background-color: rgba(128, 128, 128, 0.467);
    border-radius: 15px;
    box-shadow: 2px 3px 8px 0px #000000;
}
.container .card{
    margin: 20px;
}
.card .content>h1{
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: .2em;
    font-size: 30px;
}
.content .contact-person{
    position: relative;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.097);
    justify-content: center;
    align-items: center;
    transition: .8s;
}
.content .contact-person:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.1) translate(25px, -10px);
    transition: .8s;
    z-index: 1000;
}
.content .contact-person figure{
    max-width: 200px;
    max-height: 200px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .contact-person figure img{
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.contact-person .content-person{
    display: inline-block;
    margin: 20px;
    line-height: 20px;
}
.contact-person .content-person h1,h5{
    font-weight: 400;
}
.container .menu{
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.255);
    background: linear-gradient(#051937, #470f4a);
    position: fixed;
    top: 85%;
    right: 10%;
    border-radius: 20px;
}
.container .menu a{
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
    color: white;
  }
.container .menu a:hover{
    background: rgba(255, 255, 255, 0.3);
    color: white;
    transition: .8s;
  }