*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}
.homeBody{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.grid-container{
    max-width: 980px;
    margin: auto;
}
nav{
    display: grid;
    grid-template-rows: 0.4fr 1fr;
}
.nav__redes{
    background-color: #06040f;
    width: 100%;
    text-align: end;
    padding-right: 10%;
}
.nav__redes img{
    width: 3%;
    margin-top: 10px;
    padding-right: 5px;
}
.nav__menu{
    display: flex;
    justify-content: space-between;
}
.nav__menu img{
    width: 14%;
    padding: 10px 0px 10px 20px;
}
.nav__menu--about{
    margin: auto 0;
    padding-right: 10%;
    font-size: 20px;
    color: black;
    letter-spacing: 7px;
}
.mainIndex{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("../assets/pexels-rahul-pandit-2769274.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.main__imagen{
    display: grid;
    justify-items: center;
    grid-column: 2;
}
.main__imagen--text{
    margin-top: 90px;
    font-size: 40px;
    color: white;
    letter-spacing: 10px;
    line-height: 80px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.main__imagen--btn{
    color: white;
    font-size: 30px;
    background-color: #f20418;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0;
}
.main__imagen--btn:hover{
    background-color: #f4da0a;
    color: black;
    cursor: pointer;
}
.blogsMain{
    display: grid;
}
.blogsMain__newsContainer{
    background-color: #f4da0a;
    padding: 0 50px 40px;
}
.blogsMain__newsContainer__new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogsMain__newsContainer__new--perfil{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr;
}
.blogsMain__newsContainer__new--img, .blogsMain__newsContainer__new--img--perfil{
    grid-column: 1;
}
.blogsMain__newsContainer__new--img img{
    width: 85%;
}
.blogsMain__newsContainer__new--img--perfil img{
    width: 65%;
}
.blogsMain__newsContainer__blogsNewsInfoContainer{
    grid-column: 2;
}
.blogsMain__newsContainer__blogsNewsInfoContainer p{
    margin-bottom: 35px;
}
.blogsPostContainer{
    padding: 0 50px 40px;
    display: flex;
}
.blogsPostContainer h3{
    border-bottom: 1px solid red;
    padding-bottom: 20px;
    text-align: center;
    width: 90%;
}
.blogsBtn{
    border: 1px solid red;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    margin: auto;
}
.blogsPostContainer__postContainer{
    display: inline-block;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogsPostContainer__postContainer p{
    margin-bottom: 35px;
}
.blogsPostContainer__postContainer img{
    width: 100%;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    border-top: 35px solid #f4da0a;
}
footer p{
    color: white;
    text-align: center;
}
.blogpostImgContainer{
    padding: 0 50px 40px;
}
.blogpostImgContainer img{
    width: 100%;
}
.blogpostMainContainer{
    padding: 0 50px 40px;
}
.blogpostMainContainer h3{
    border-bottom: 1px solid #f20418;
    padding-bottom: 15px;
}
.blogpostMainContainer article h1{
    font-size: 25px;
}
.contactGeneral{
    width: 100%;
    background-color: #f4da0a;
}
.contactMainContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contactMainContainer .card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-right: 4px;
    padding-top: 15px;
}
.contactMainContainer img{
    width: 100px;
    margin-right: 20px;
    padding: 15px;
}
