@import './mediaQuery';
@import './global';

.background{
    background-color: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.card-profile{
    background-color: #ffffff;
    grid-column: 5 / 8;
    grid-row: 2 / 11;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    @include large{
        grid-column: 4 / 9;
    }
    @include medium{
        grid-column: 3 / 10;
        margin-inline: 10px;
    }
    &-container{
        background-color: #3B83BD;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        margin-bottom: 30px;
    }
    &-photo{
        display: flex;
        justify-content: center;
        img{
            object-fit: cover;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-block: 50px;
        }
    }
    &-socials{
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 20px;
        li.social{
            list-style: none;
            a{
                img{
                    width: 50px;
                }
            }
        }
    }
    &-text{
        margin-bottom: 50px;
        &-name,
        &-proffesion,
        &-speciality{
            font-size: 16px;
            text-align: center;
        }
    }
    &-options{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
        .option{
            list-style: none;
            .tabs__button{
                text-decoration: none;
                color: #ffffff;
                font-weight: bold;
                background-color: #1a1a1a;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}




/* ------------------------------------------------------------------------------------------------ */
