@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shantell+Sans:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.tabs__content{
  display: none;
}
.tabs__content.active{
  display: block;
}

h6{
  font-size: 8px;
}
h5{
  font-size: 12px;
}
h4{
  font-size: 16px;
}
h3{
  font-size: 20px;
}
h2{
  font-size: 24px;
}
h1{
  font-size: 28px;
}
a{
  text-decoration: none;
}