@media (max-width: 100em) {
  
}
@media (max-width: 90em) {
  
}
@media (max-width: 80em) {
  
}
@media (max-width: 70em) {
  .g-column-4-9-70em{
    grid-column: 4/9 !important;
  }
}
@media (max-width: 60em) {
  
}
@media (max-width: 50em) {
  .g-column-2-12-50em{
    grid-column: 2/12 !important;
  }
  .mi-1-50em{
    margin-inline: 8px !important;
  }
}
@media (max-width: 40em) {
  .g-column-1--1-40em{
    grid-column: 1/-1 !important;
  }
  .jc-center-40em{
    justify-content: center !important;
  } 
  .ai-center-40em{
    align-items: center !important;
  } 
  .fd-column-40em{
    flex-direction: column !important;
  } 
  .gap-3-40em{
    gap: 24px !important;
  }
}
@media (max-width: 30em) {
  
}
@media (max-width: 20em) {
  
}
@media (max-width: 10em) {
  
}
