@mixin section__knowledge--list {
    margin-top: 20px;
    display: flex;
    width: 90%;
    gap: 20px;
    margin: auto;
    justify-content: center;
}

@mixin button__more{
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
}

@mixin container__button{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    button{
        @include button__more;
    }
}

@mixin button--hover{
    background-color: white;
    color: #0e1942;
    font-weight: bold;
    transition: .3s;
}