$color-1: #3B83BD;
$color-2: #ffffff;
$color-3: #1a1a1a;
$color-4: #c9c9c9;
$color-5: #d07476;
$color-6: #fcf4cf;
$color-7: #50b49a;
$color-8: #482ad0;
$color-9: #24053e;
$bg-color-1: #3B83BD;
$bg-color-2: #ffffff;
$bg-color-3: #1a1a1a;
$bg-color-4: #c9c9c9;
$bg-color-5: #d07476;
$bg-color-6: #fcf4cf;
$bg-color-7: #50b49a;
$bg-color-8: #482ad0;
$bg-color-9: #24053e;