@font-face {
  font-family: "Quicksand-Bold";
  src: url("../Fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("../Fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("../Fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../Fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("../Fonts/Quicksand-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  font-size: clamp(24px, 5vw, 32px);
}

h2 {
  font-size: clamp(20px, 5vw, 28px);
}

h3 {
  font-size: clamp(16px, 5vw, 24px);
}

p,
a {
  font-size: clamp(12px, 5vw, 20px);
}

.close {
  display: none;
}

.open {
  display: block;
}

.container__perfil {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  height: auto;
  background-color: #1a1a1a;
  padding-block: 16px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.container__perfil .container__content--perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
  margin: 20px 0;
}

.container__perfil .container__content--perfil h1, .container__perfil .container__content--perfil h2, .container__perfil .container__content--perfil h3 {
  color: white;
}

.container__perfil .container__content--perfil ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  padding-block: 12px;
}

.container__perfil .container__content--perfil ul li img {
  width: 40px;
}

.container__perfil .container__content--perfil .CV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__perfil .container__content--perfil .CV a {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.container__perfil .container__img--perfil img {
  width: 200px;
  border-radius: 50%;
}

@media (max-width: 50em) {
  .container__perfil {
    justify-items: center;
  }
  .container__perfil .container__content--perfil {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container__perfil .container__img--perfil {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.container__skills {
  margin-bottom: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.container__skills .container__content--aspirations {
  text-align: center;
}

.container__skills .container__content--aspirations h1 {
  margin-bottom: 16px;
}

.container__skills .container__content--aspirations p {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}

.container__skills .container__content--skills h1 {
  text-align: center;
}

.container__skills .container__content--skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__skills .container__content--skills ul li {
  list-style: none;
}

.container__skills .container__content--skills ul li img {
  width: 50px;
}

@media (max-width: 50em) {
  .container__content--aspirations {
    margin-bottom: 64px;
  }
  .container__content--aspirations,
  .container__content--skills {
    grid-column: 1 / -1;
  }
}

.container__tabs .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px;
  gap: 20px;
}

.container__tabs .tabs .tabs__button {
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #1a1a1a;
  color: white;
}

.container__tabs .tabs .tabs__button:hover {
  background-color: #ffffff;
  color: #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  border-radius: 0;
}

.container__tabs .tabs__content {
  display: none;
}

.container__tabs .active {
  display: block;
}

@media (max-width: 50em) {
  .container__tabs .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__tabs .tabs .tabs__button {
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .container__tabs .tabs .tabs__button:hover {
    background-color: #ffffff;
    color: #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
    border-radius: 0;
    font-weight: bold;
  }
  .container__tabs .tabs__content {
    display: none;
  }
  .container__tabs .active {
    display: block;
  }
}

main .container__content--study h1 {
  text-align: center;
}

main .container__content--study ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container__content--study ul li {
  list-style: none;
}

main .container__content--study ul li img {
  width: 300px;
  border-radius: 20px;
}

main .container__content--study .container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

main .container__content--study .container__button button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
}

main .container__content--study .container__button button:hover {
  background-color: white;
  color: #0e1942;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

main .container__content--experience .experience--title {
  text-align: center;
}

main .container__content--experience h1, main .container__content--experience h3, main .container__content--experience h4 {
  padding-bottom: 16px;
  font-weight: bold;
}

main .container__content--experience ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container__content--experience ul li {
  list-style: none;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 25px;
  width: 300px;
}

main .container__content--experience .container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

main .container__content--experience .container__button button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
}

main .container__content--experience .container__button button:hover {
  background-color: white;
  color: #0e1942;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

main .container__projects h1 {
  text-align: center;
  padding-bottom: 16px;
}

main .container__projects ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container__projects ul li {
  list-style: none;
}

main .container__projects ul li img {
  width: 300px;
  border-radius: 20px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
}

footer ul li a img {
  width: 50px;
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../Fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("../Fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("../Fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../Fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("../Fonts/Quicksand-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  font-size: clamp(24px, 5vw, 32px);
}

h2 {
  font-size: clamp(20px, 5vw, 28px);
}

h3 {
  font-size: clamp(16px, 5vw, 24px);
}

p,
a {
  font-size: clamp(12px, 5vw, 20px);
}

.close {
  display: none;
}

.open {
  display: block;
}
/*# sourceMappingURL=style.css.map */