/* --------------- Vars -------------------- */

$size-root: 16px;

/* --------------- Maps -------------------- */

$colors: (
"color1": #FFFFFF,
"color2": #3C747BAB,
"color3": #448892,
"color4": #55A738
);

$sizes:(
    "xxxs": $size-root * 0.5,
    "xxs": $size-root * 0.625,
    "xs": $size-root * 0.75,
    "s": $size-root * 0.875,
    "m": $size-root * 1,
    "l": $size-root * 1.5,
    "xl": $size-root * 2,
    "xxl": $size-root * 2.5,
    "xxxl": $size-root * 3,
    "xxxxl": $size-root * 3.5,
    "xxxxxl": $size-root * 4,
    "xxxxxxl": $size-root * 4.5

);

$sizes-mq:(
    "xxs": 320px,
    "xs": 375px,
    "s": 425px,
    "m": 768px,
    "l": 1024px,
    "xl": 1440px,
);

$direction:(top,bottom,left,right,block,inline);

/* --------------- Call Maps -------------------- */

/* Colors */
/* Clave - Valor */
@each $name, $code in $colors{
    .#{$name}{
        color: $code;
    }
    .bg-#{$name}{
        background-color: $code;
    }
}
/* Sizes */
@each $name, $code in $sizes{
    .p-#{$name}{
        padding: $code;
    }
    .br-#{$name}{
        border-radius: $code;
    }
}

/* --------------- Mixins -------------------- */



/* Margin */
@mixin margin($size, $direction) {
    $value: map-get($sizes, $size);

    

    @if $direction == top {
        margin-top: $value;
    } @else if $direction == bottom {
        margin-bottom: $value;
    } @else if $direction == left {
        margin-left: $value;
    } @else if $direction == right {
        margin-right: $value;
    } @else if $direction == block {
        margin-block: $value;
    } @else if $direction == inline {
        margin-inline: $value;
    } @else {
        @warn "Dirección no válida: #{$direction}. Usar top, bottom, left, right, block o inline.";
    }
}

/* Padding */
@mixin padding($size, $direction) {
    $value: map-get($sizes, $size);

    

    @if $direction == top {
        padding-top: $value;
    } @else if $direction == bottom {
        padding-bottom: $value;
    } @else if $direction == left {
        padding-left: $value;
    } @else if $direction == right {
        padding-right: $value;
    } @else if $direction == block {
        padding-block: $value;
    } @else if $direction == inline {
        padding-inline: $value;
    } @else {
        @warn "Dirección no válida: #{$direction}. Usar top, bottom, left o right.";
    }
}

/* --------------- Media Querys -------------------- */



/* --------------- Styles Page -------------------- */

body,
html{
    font-size: $size-root;
}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.section{
    display: grid;
    grid-column: 1/-1;
    position: relative;

    &-container-img{
        img{
            width: 100%;
        }
    }

    &-container-information{
        width: max-content;
        position: absolute;
        bottom: 0;
        @include margin("xxxxxxl", bottom);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    &-container__hv{
        width: max-content;
        position: absolute;
        bottom: 0;
        margin-bottom: -10px;
        @include padding("xxxs", block);
        @include padding("l", inline);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }
}

.section-container-tabs{
    display: grid;
    grid-column: 2/-2;
    @include margin("xl", top);

    &-list{
        display: flex;
        justify-content: space-around;
        @include padding("xl", bottom);

        li{
            list-style: none;
            cursor: pointer;
        }
    }
}

.section-container-btn{
    display: grid;
    justify-items: center;
    grid-column: 1/-1;
    @include padding("xl", block);

    &__action{
        @include padding("m", block);
        @include padding("xl", inline);
        text-decoration: none;
        font-weight: bold;
    }
}






