@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shantell+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shantell+Sans:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.background {
  background-color: #1a1a1a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

.card-profile {
  background-color: #ffffff;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 9;
  grid-row: 2 / 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 26px;
}

@media (max-width: 75em) {
  .card-profile {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4 / 9;
  }
}

@media (max-width: 50em) {
  .card-profile {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3 / 10;
    margin-inline: 10px;
  }
}

@media (max-width: 25em) {
  .card-profile {
    grid-column: 1 / -1;
  }
}

.card-profile-container {
  background-color: #3B83BD;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  margin-bottom: 30px;
}

.card-profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-profile-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-profile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.card-profile-socials li.social {
  list-style: none;
}

.card-profile-socials li.social a img {
  width: 30px;
}

.card-profile-text {
  margin-bottom: 20px;
}

.card-profile-text-name, .card-profile-text-proffesion, .card-profile-text-speciality {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.card-profile-description {
  padding-inline: 50px;
  margin-bottom: 50px;
  text-align: justify;
  font-size: 16px;
}

.card-profile-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}

.card-profile-options .option {
  list-style: none;
}

.card-profile-options .option .tabs__button {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 25em) {
  .card-profile-options {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

/* ------------------------------------------------------------------------------------------------ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=style.css.map */