$colorStar: #00b67a !default;
$colorFondStar: #dcdce6 !default;
$colorParagraphFooter: #464646 !default;
$colorCheck: #e6484b !default;
$colorBorderHeader: #e6e6e6 !default;
$colorDesaultText: #000000 !default;
$colorBackground: #ffffff !default;
$colorTitleDate: #6e6e6e !default;
$colorFondDate: #1400000f !default;
$colorDisableDate: #c8c8c8 !default;
$colorBoxShadowTitle: #dd1e22 !default;
$colorBackgroundCheckBox: #dbdbdb !default;
$font: "Poppins", sans-serif !default;

@mixin starRating {
  background-position: center;
  background-size: cover;
}
@mixin h3-text {
  color: $colorTitleDate;
  font-weight: 300;
}
@mixin h1-title {
  font: 600;
  color: $colorDesaultText;
  margin-top: 3px;
}
