@import "rootstyle.scss";
@import "header.scss";
@import "card.scss";
@import "rating.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $font;
}
body{
    width: 491px;
    height: 100vh;
}
footer{
    overflow: auto;
    white-space: nowrap;
    img{
        padding: 10px;
    }
}











































