header {
  background-image: url("../assets/Enmascarar grupo 11.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-x: -582px;
}

header section#headerMenu {
  background-color: #ffffff;
}

header section#headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header input#botonMovil {
  display: none;
}

header label#labelMovil span {
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../assets/Burguer - Menu.svg");
  background-size: cover;
  margin: 20px 0px 19px 19px;
}

header label#labelMovil span:hover {
  cursor: pointer;
}

header input#botonMovil:checked + label#labelMovil span {
  background-image: url("../assets/Arrow - back.svg");
  width: 8px;
  height: 17px;
}

header input#botonMovil:checked ~ nav.botoneraMovil {
  left: 0px;
}

header nav.botoneraMovil {
  position: absolute;
  width: 491px;
  height: auto;
  background: white;
  top: 50px;
  left: -100%;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

header nav.botoneraMovil ul {
  margin: 119px 0 0 75px;
}

header nav.botoneraMovil ul li {
  width: 100%;
  line-height: 40px;
  text-align: left;
  border: 1px solid white;
  color: #000000;
  font-size: 22px;
  font-weight: medium;
  margin-bottom: 50px;
}

header .menu__socialNetwork {
  margin: 134px 0 0 75px;
}

header .menu__socialNetwork h3 {
  color: #e6e6e6;
  font-size: 22px;
  font-weight: 400;
}

header .menu__socialNetwork--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 28px 174px 20vh 0;
}

header .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79px;
  height: 34px;
  margin: 9px 0px 10px 60px;
}

header .headerIconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 16px 17px;
}

header .headerIconos img {
  padding: 0 10px 0 10px;
}

header .headerTitulo {
  margin: auto;
  padding: 23px 14px;
  text-align: center;
}

header .headerTitulo h1 {
  font-size: 18px;
  color: white;
}

header .headerLocalidad {
  margin: 14px 30px 16px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-radius: 6px;
}

header .headerLocalidad input {
  width: 27px;
  height: 24px;
  margin: 31px 0px 29px 17px;
}

header .headerLocalidad div {
  margin: 19px 55px 17px 16px;
}

header .headerLocalidad div h3 {
  color: #6e6e6e;
  font-weight: 300;
}

header .headerLocalidad div h1 {
  font: 600;
  color: #000000;
  margin-top: 3px;
}

header .headerSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headerSwitch div p {
  padding-left: 16px;
  color: #ffffff;
  margin: auto;
}

header .switchButton {
  display: inline-block;
  width: 36px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-left: 36px;
}

header .switchButton__checkBox {
  display: none;
}

header .switchButton .switchButton__label {
  background-color: #ffffff;
  border-radius: 10px;
  width: 16px;
  height: 18px;
  border: 0px solid #e6484b;
  display: inline-block;
  position: inherit;
}

header .switchButton .switchButton__label:before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
}

header .switchButton .switchButton__checkBox:checked + .switchButton {
  background-color: #dbdbdb;
}

header .switchButton .switchButton__checkBox:checked + .switchButton__label:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

header .headerCalendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px 30px 16px 31px;
  background-color: #ffffff;
  border-radius: 6px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .headerCalendar__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headerCalendar__event input {
  width: 27px;
  height: 24px;
  margin: 31px 0px 29px 17px;
}

header .headerCalendar__event div {
  margin: 19px 55px 17px 16px;
}

header .headerCalendar__event div h3 {
  color: #6e6e6e;
  font-weight: 300;
}

header .headerCalendar__event div h1 {
  font: 600;
  color: #000000;
  margin-top: 3px;
}

header .headerBrowser {
  position: inherit;
  width: 86px;
  height: 60px;
  top: 10px;
  margin: auto;
}

.mainCard {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  margin-top: 42px;
  display: block;
  margin: 40px 53px 0 55px;
}

.mainCard__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainCard__title img {
  margin: 9px 0px 15px 7px;
  width: 201px;
  height: 109px;
}

.mainCard__title h1 {
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
  margin: 40px 18px 36px 0;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  font-weight: 600;
}

.mainCard__title h1 span {
  color: #e6484b;
}

.mainCard__paragraph {
  font-size: 14px;
  text-align: center;
  margin: auto 44px;
}

.mainCard__paragraph p {
  font-weight: 600;
}

.mainStar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 19px 69px 2px 69px;
}

.mainStar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainStar__logo img {
  margin: auto;
}

.mainStar__logo h1 {
  margin: auto;
}

.mainStar__qualification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainStar__qualification label {
  font-size: 22px;
  font-weight: normal;
  padding-right: 10px;
  margin: auto;
}

.mainStar .starRating {
  display: inline-block;
  margin: auto;
}

.mainStar .starRating a {
  text-decoration: none;
  width: 12px;
  height: 11px;
  background-image: url("../assets/Grupo 5391.svg");
  background-position: center;
  background-size: cover;
  color: white;
  border: 1px solid #e6e6e6;
  padding: 1px;
}

.mainStar .starRating:hover a {
  background-image: url("../assets/Grupo 5392.svg");
  background-position: center;
  background-size: cover;
}

.mainStar .starRating > a:hover ~ a {
  background-image: url("../assets/Grupo 5391.svg");
  background-position: center;
  background-size: cover;
}

.mainStar__paragraph {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.36px;
  margin-top: 2px;
}

.mainStar__paragraph p {
  color: #464646;
  font-weight: 600;
}

.mainStar__paragraph span {
  color: #000000;
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 491px;
  height: 100vh;
}

footer {
  overflow: auto;
  white-space: nowrap;
}

footer img {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */