:root {
  --columns: 4;
  --column-gap: 6.67%;
}

@media (min-width: 768px) {
  :root {
    --columns: 12;
    --column-gap: 2.27%;
  }
}

@media (min-width: 1280px) {
  :root {
    --columns: 12;
    --column-gap: 2.19%;
  }
}

.grid {
  margin: 0 16px;
}

@media (min-width: 768px) {
  .grid {
    margin: 0 32px;
  }
}

@media (min-width: 1280px) {
  .grid {
    margin: 0 80px;
  }
}

@media (min-width: 1440px) {
  .grid {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.grid,
.subgrid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: var(--column-gap);
  -ms-grid-columns: (minmax(0, 1fr))[var];
      grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  position: relative;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: "Quicksand-Regular";
  background-image: -webkit-gradient(linear, left bottom, right top, from(#48254f), color-stop(#3c224d), color-stop(#2e1f4a), color-stop(#201c46), to(#0e1942));
  background-image: linear-gradient(to right top, #48254f, #3c224d, #2e1f4a, #201c46, #0e1942);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("../fonts/Quicksand-SemiBold.ttf");
}
/*# sourceMappingURL=style.css.map */