@import './variables';

header{
    width: 100%;
    min-width: 320px;
    .nav-menu{
        background-color: $background-nav;
        .menu-movil{
            position: relative;
            .diseno-menu{
                position: absolute;
                top: 10px;
                left: 10px;
                div{
                    width: 30px;
                    height: 5px;
                    border-radius: 10px;
                    background-color: white;
                    border: 3px solid white;
                    margin-bottom: 5px;
                }
            }
            ul.list-menu{
                width: 70%;
                padding: 50px;
                border-radius: 10px;
                background-color: $background-menu-movil;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}