@font-face {
    font-family: 'Roboto-Black';
    src: url('../font/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf');
}

*{
    font-family: 'Roboto-Regular';
}