@import './variables';

header{
    width: 100%;
    min-width: 320px;
    background-color: $background-nav;
    position: fixed;
    top: 0;
    z-index: 5;
    .nav-menu{
        margin: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu-movil{
            position: relative;
            .diseno-menu{
                position: relative;
                div{
                    width: 20px;
                    border-radius: 10px;
                    background-color: white;
                    border: 1px solid white;
                    margin-bottom: 5px;
                }
            }
            ul.list-menu{
                padding: 25px;
                border-radius: 10px;
                background-color: $background-menu-movil;
                position: absolute;
                top: -300px;
                left: -10px;
                transition: .4s;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            ul.list-menu.active{
                top: 50px;
                left: -10px;
                transition: .4s;
            }
        }
        figure{
            margin: 0;
            padding: 0;
            img{
                width: 80px;
            }
        }
        .icono-home-cart{
            display: flex;
            align-items: center;
            figure{
                svg{
                    width: 30px;
                    margin-right: 10px;
                }
                img{
                    width: 25px;
                }
            }
        }
    }
}