* {
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------- Vars -------------------- */
/* --------------- Maps -------------------- */
/* --------------- Call Maps -------------------- */
/* Colors */
/* Clave - Valor */
.color1 {
  color: #FFFFFF;
}

.bg-color1 {
  background-color: #FFFFFF;
}

.color2 {
  color: rgba(60, 116, 123, 0.6705882353);
}

.bg-color2 {
  background-color: rgba(60, 116, 123, 0.6705882353);
}

.color3 {
  color: #448892;
}

.bg-color3 {
  background-color: #448892;
}

.color4 {
  color: #55A738;
}

.bg-color4 {
  background-color: #55A738;
}

/* Sizes */
.p-xxxs {
  padding: 8px;
}

.br-xxxs {
  border-radius: 8px;
}

.fs-xxxs {
  font-size: 8px;
}

.p-xxs {
  padding: 10px;
}

.br-xxs {
  border-radius: 10px;
}

.fs-xxs {
  font-size: 10px;
}

.p-xs {
  padding: 12px;
}

.br-xs {
  border-radius: 12px;
}

.fs-xs {
  font-size: 12px;
}

.p-s {
  padding: 14px;
}

.br-s {
  border-radius: 14px;
}

.fs-s {
  font-size: 14px;
}

.p-m {
  padding: 16px;
}

.br-m {
  border-radius: 16px;
}

.fs-m {
  font-size: 16px;
}

.p-l {
  padding: 24px;
}

.br-l {
  border-radius: 24px;
}

.fs-l {
  font-size: 24px;
}

.p-xl {
  padding: 32px;
}

.br-xl {
  border-radius: 32px;
}

.fs-xl {
  font-size: 32px;
}

.p-xxl {
  padding: 40px;
}

.br-xxl {
  border-radius: 40px;
}

.fs-xxl {
  font-size: 40px;
}

.p-xxxl {
  padding: 48px;
}

.br-xxxl {
  border-radius: 48px;
}

.fs-xxxl {
  font-size: 48px;
}

.p-xxxxl {
  padding: 56px;
}

.br-xxxxl {
  border-radius: 56px;
}

.fs-xxxxl {
  font-size: 56px;
}

.p-xxxxxl {
  padding: 64px;
}

.br-xxxxxl {
  border-radius: 64px;
}

.fs-xxxxxl {
  font-size: 64px;
}

.p-xxxxxxl {
  padding: 72px;
}

.br-xxxxxxl {
  border-radius: 72px;
}

.fs-xxxxxxl {
  font-size: 72px;
}

/* --------------- Mixins -------------------- */
/* Margin */
/* Padding */
/* Font Size */
/* --------------- Media Querys -------------------- */
/* --------------- Styles Page -------------------- */
body,
html {
  font-size: 16px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}