.Color1 {
  color: "#FFFFFF";
}

.bg-Color1 {
  background-color: "#FFFFFF";
}

.color2 {
  color: "#3C747BAB";
}

.bg-color2 {
  background-color: "#3C747BAB";
}

.color3 {
  color: "#448892";
}

.bg-color3 {
  background-color: "#448892";
}

.color4 {
  color: "#55A738";
}

.bg-color4 {
  background-color: "#55A738";
}
.size1 {
  font-size: 18px;
}