@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 275px;
    object-fit: cover;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d; /* posiciona el elemento en un espacio 3D */
    perspective: 500px; /* determina la distancia entre el plano z=0 y el usuario */
}
.container .box{
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: .5s;
    transform-style: preserve-3d;
    overflow: hidden;
}
.container:hover .box{
    transform: rotateY(25deg);
}
.container .box:hover ~ .box{ /* Se denomina el hermano adjunto y selecciona el ítem que esté inmediatamente después y todos los siguientes. */
    transform: rotateY(25deg);
}
.container .box:hover{
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx:before{ /* crea un pseudoelemento que es el primer hijo del elemento seleccionado. Es usado normalmente para añadir contenido estético a un elemento */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #f00, rgb(0, 0, 0));
    z-index: 1;
    opacity: 0;
    transition: .5s;
    mix-blend-mode: multiply; /* describe cómo las imágenes de fondo y el color de fondo del elemento deben mezclar entre sí. */
}
.container .box:hover .imgBx:before{
    opacity: .8;
}
.container .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
.container .box .content h2{
    color: white;
    transition: .5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}
.container .box:hover .content h2{
    transform: translateY(0);
}
.container .box .content p{
    color: white;
    transition: .5s;
    font-size: 14px;
    transform: translateY(200px);
}
.container .box:hover .content p{
    transform: translateY(0);
}