doctype html
html(lang="es")
		head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			link(rel="stylesheet", href="./style/style.css")
			title Dropdown nav
		body

			nav 
				figure 
					img(src="./img/logo.svg" alt="Logo snap" class="blur")

				.container--menu-web 
					.container-options 
						ul 
							li 
								p.feature Features 
									ul.container-submenu.features 
										li.todo-list Todo List
										li.calendar Calendar
										li.reminder Reminders
										li.planning Planning
						
						ul 
							li 
								p.company Company 
									ul.container-submenu.companys
										li History
										li Our Team 
										li Blog

						ul 
							li Careers
						
						ul 
							li About
					
					ul 
						li 
							.container-login
								ul 
									li Login 
									li Register
						
										
				.menu-hamburguer 
					span 
					span 
					span 

			.container--menu-nav
				.menu--hamburguer-nav
					div  
					div  
					div  
				ul.content--menu
					li.icon.features 
						p.ico.features.bold Features
						ul.container-submenu.features 
							li.todo-list Todo List
							li.calendar Calendar
							li.reminder Reminders
							li.planning Planning
					li.icon.company
						p.ico.company.bold Company 
						ul.container-submenu.company
							li History
							li Our Team
							li Blog
					li  
						p.bold Careers
					li
						p.bold About
				ul.content--count 
					li Login 
					li 
						a(href="") Register

			.container--img-header.blur 
				figure 
					img(src="./img/image-hero-mobile.png", alt="", class="movil")
					img(src="./img/image-hero-desktop.png", alt="", class="web")

				.container--content.blur 
					h1.content--title Make 
					h1.content--title.remote remote work 
					p.content--paragraph get your team in sync, no matter your location. Dtreamline processes, create team rituals, and watch productivity soar.
					.content--button 
						button Learn more 

			.container--afiliates.blur 
				figure 
					img(src="./img/client-databiz.svg", alt="icono databiz")
					img(src="./img/client-audiophile.svg", alt="icono audiophile")
					img(src="./img/client-meet.svg", alt="icono meet")
					img(src="./img/client-maker.svg", alt="icono maker")

			script(src="./js/jquery-3.6.0.min.js")
			script(src="./js/main.js")
		