doctype html
html(lang="es")
		head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			link(rel="stylesheet", href="./style/style.css")
			title Dropdown nav
		body

			nav 
				figure 
					img(src="./img/logo.svg" alt="Logo snap")
				.menu-hamburguer 
					span 
					span 
					span 

			.container--menu-nav
				.menu--hamburguer-nav
					div  
					div  
					div  
				ul.content--menu
					li.icon Features
					ul.container-submenu 
						li.todo-list Todo List
						li.calendar Calendar
						li.reminder Reminders
						li.planning Planning
					li.icon Company
					ul.container-submenu
						li History
						li Our Team
						li Blog
					li Careers
					li About
				ul.content--count 
					li Login 
					li 
						a(href="") Register

			.container--img-header
				figure 
					img(src="./img/image-hero-mobile.png", alt="")

			.container--content 
				h1.content--title Make remote work 
				p.content--paragraph get your team in sync, no matter your location. Dtreamline processes, create team rituals, and watch productivity soar.
				.content--button 
					button Learn more 

			.container--afiliates 
				figure 
					img(src="./img/client-databiz.svg", alt="icono databiz")
					img(src="./img/client-audiophile.svg", alt="icono audiophile")
					img(src="./img/client-meet.svg", alt="icono meet")
					img(src="./img/client-maker.svg", alt="icono maker")

			script(src="/Assets/Js/jquery-3.6.0.min.js")
			script(src="./js/main.js")
		