@font-face {
    font-family: "regular";
    src: url(./fonts/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Medium";
    src: url(./fonts/static/HankenGrotesk-Medium.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(./fonts/static/HankenGrotesk-Bold.ttf);
}
@font-face {
    font-family: "Extrabold";
    src: url(./fonts/static/HankenGrotesk-ExtraBold.ttf);
}

:root{
    --color-title: #232a3a;
    --color-title-font: #ffffff;
    --color-text:  #c9c9c9;
    --color-font-left: #332ceb;
    --color-button:  #323b5a;
    --color-font-card1: #d07476;
    --color-font-card2: #fcf4cf;
    --color-font-card3: #50b49a;
    --color-font-card4: #482ad0;
}

*{
    font-family: "regular";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.f-s-24{
    font-size: 24px;
}

.m-b-y-32{
    margin-block: 32px;
}

.t-c{
    text-align: center;
}

.w-60{
    width: 60%;
}

.container{
    background-color: var(--color-title-font);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-block: 50px;
}

.container-content{
    background-color: var(--color-title-font);
    border-radius: 16px;
    grid-column: 4 / 10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    box-shadow: 2px 3px 15px -9px rgba(0,0,0,0.45);
}

.container-content-left{
    background-color: var(--color-font-left);
    border-radius: 16px;
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
}

.container-content-left-text{
    color: var(--color-text);
}

.container-content-left-score{
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: inset 1px 2px 35px -10px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-content-left-score-title{
    color: var(--color-title-font);
    font-size: 64px;
}

.container-content-left-title{
    color: var(--color-title-font);
}