@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import './mixin';


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.blur.active{
	filter: blur(4px);
}

.bold{
	font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
	width: 90%;
	margin: 2rem auto;
    figure{
        img{
            width: 100%;
			object-fit: contain;
        }
    }
	.container--menu-web{
		display: flex;
		width: 90%;
		align-items: center;
		font-size: 1rem;
		display: none;
		justify-content: space-between;
		@include movil-large{
			display: flex;
		}
		.container-options{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
			margin-left: 2rem;
			ul{
				li{
					list-style: none;
					cursor: pointer;
					p{
						cursor: pointer;
						ul{
							position: absolute;
							top: 0;
							left: 0;
						}
					}
					p.feature{
						position: relative;
					}
					.container-submenu.features {
						display: none;
					}
					.container-submenu.companys {
						display: none;
					}
					.container-submenu.features.active {
						display: block;
					}
					.container-submenu.companys.active {
						display: block;
					}
					p.company{
						position: relative;
					}
					p.feature::after, 
					p.company::after{
						content: url(../img/icon-arrow-down.svg);
						margin-left: 0.4rem;
					}
					
				}
				li.todo-list::before{
					content: url(../img/icon-todo.svg);
					margin-right: 0.5rem;
				}
				li.calendar::before{
					content: url(../img/icon-calendar.svg);
					margin-right: 0.5rem;
				}
				li.reminder::before{
					content: url(../img/icon-reminders.svg);
					margin-right: 0.5rem;
				}
				li.planning::before{
					content: url(../img/icon-planning.svg);
					margin-right: 0.5rem;
				}
			}
			
		}
		ul{
			li{
				list-style: none;
				.container-login{
					ul{
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: 1rem;
						margin-left: 2rem;
						li{
							cursor: pointer;
							&:nth-child(2){
								border: 0.1rem solid black;
								padding: 0.7rem;
								border-radius: 0.7rem;
								cursor: pointer;
							}
							&:nth-child(2):hover{
								background-color: black;
								color: white;
							}
						}
					}
				}
			}
		}
	}
    .menu-hamburguer{
        display: flex;
        flex-direction: column;
        gap: 2px;
		@include movil-large{
			display: none;
		}
        cursor: pointer;
        span{
            border: 2px solid black;
            width: 20px;
						transition: .4s;
						z-index: 2;
        }
        &.active{
            span:nth-child(1){
                transform: rotate(45deg);
                transition: .4s;
            }
            span:nth-child(2){
                transform: rotate(-45deg);
                margin-top: -6px;
                transition: .4s;
            }
            span:nth-child(3){
                display: none;
            }
        }
    }   
}

.container--menu-nav{
	background-color: white;
	width: 70%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	display: none;
	height: 600px;
	transition: .4s;
	box-shadow: rgba(0, 50, 93, 0.25) 0px 6px 12px -2px, 
				rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	ul.content--menu{
		margin-left: 1rem;
		margin-top: 4rem;
		display: flex;
		flex-direction: column;
		gap: 0.7rem;
		li{
			list-style: none;
			color: grey;
			font-weight: 400;
			font-size: 1rem;
			position: relative;
			cursor: pointer;
		}
		li.icon.features{
			ul.container-submenu.features{
				margin-left: 1rem;
				display: none;
				li{
					margin: 1rem 0;
				}
				li.todo-list::before{
					content: url(../img/icon-todo.svg);
					margin-right: 0.5rem;
				}
				li.calendar::before{
					content: url(../img/icon-calendar.svg);
					margin-right: 0.5rem;
				}
				li.reminder::before{
					content: url(../img/icon-reminders.svg);
					margin-right: 0.5rem;
				}
				li.planning::before{
					content: url(../img/icon-planning.svg);
					margin-right: 0.5rem;
				}
				&.active{
					display: inline-block;
				}
			}
		}
		p.ico.features::after{
			margin-left: 0.5rem;
			content: url(../img/icon-arrow-down.svg);
			cursor: pointer;
		}
		p.ico.features.active::after{
			content: url(../img/icon-arrow-up.svg);
		}

		li.icon.company{
			ul.container-submenu.company{
				margin-left: 1rem;
				display: none;
				li{
					margin: 1rem 0;
				}
				&.active{
					display: inline-block;
				}
			}
		}
		p.ico.company::after{
			margin-left: 0.5rem;
			content: url(../img/icon-arrow-down.svg);
			cursor: pointer;
		}
		p.ico.company.active::after{
			content: url(../img/icon-arrow-up.svg);
		}
	}
	&.active{
		display: inline-block;
		right: 0;
		transition: .4s;
	}
	ul.content--count{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.6rem;
		margin-top: 3rem;
		li{
			list-style: none;
			color: grey;
			cursor: pointer;
		}
		a{
			text-align: center;
			text-decoration: none;
			color: grey;
			padding: 0.6rem 4rem;
			border: 0.1rem solid grey;
			border-radius: 1.6rem;
		}
	}
}


.container--img-header{
	@include movil-large{
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
	figure{
		.movil{
			width: 100%;
			object-fit: contain;
			@include movil-large{
				display: none;
			}
		}
		.web{
			display: none;
			@include movil-large{
				display: flex;
				width: 60%;
				object-fit: contain;
				margin: 0 auto;
			}
		}
	}
	.container--content{
		margin: 2rem 0;
		@include movil-large{
			width: 80%;
			margin: 0 auto;
		}
		.content--title{
			color: black;
			text-align: center;
			margin-bottom: 1rem;
			@include movil-large{
				font-size: 3.2rem;
				text-align: start;
				width: 80%;
				margin: 0 auto;
			}
		}
		.content--title.remote{
			margin-bottom: 1.6rem;
		}
		.content--paragraph{
			margin-bottom: 1rem;
			width: 90%;
			margin: 0 auto 2rem;
			text-align: center;
			color: rgb(143, 143, 143);
			@include movil-large{
				font-size: 1.4rem;
				text-align: start;
				margin: 0 3rem 2rem;
			}
		}
		.content--button{
			display: flex;
			justify-content: center;
			button{
				background-color: black;
				color: white;
				border: none;
				padding: 1rem 2rem;
				border-radius: 1rem;
				font-size: 0.8rem;
				font-weight: bold;
			}
		}
	}
}



.container--afiliates{
	margin: 5rem 0.2rem;
	figure{
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
		img{
			object-fit: contain;
		}
	}
}


