@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.blur.active {
  filter: blur(4px);
}

.bold {
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}
nav figure img {
  width: 70px;
}
nav .container--menu-web {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 1rem;
  display: none;
}
@media screen and (min-width: 50em) {
  nav .container--menu-web {
    display: flex;
  }
}
nav .container--menu-web .container-options {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
nav .container--menu-web .container-options ul li {
  list-style: none;
  margin-bottom: 1rem;
}
nav .container--menu-web .container-options ul li p {
  cursor: pointer;
  margin-bottom: 1rem;
}
nav .container--menu-web .container-options ul li p ul {
  position: absolute;
  top: 0;
  left: 0;
}
nav .container--menu-web .container-options ul li p.feature {
  position: relative;
}
nav .container--menu-web .container-options ul li .container-submenu.features {
  display: none;
}
nav .container--menu-web .container-options ul li p.company {
  position: relative;
}
nav .container--menu-web .container-options ul li p.feature::after,
nav .container--menu-web .container-options ul li p.company::after {
  content: url(../img/icon-arrow-down.svg);
  margin-left: 0.4rem;
}
nav .container--menu-web .container-options ul li.todo-list::before {
  content: url(../img/icon-todo.svg);
  margin-right: 0.5rem;
}
nav .container--menu-web .container-options ul li.calendar::before {
  content: url(../img/icon-calendar.svg);
  margin-right: 0.5rem;
}
nav .container--menu-web .container-options ul li.reminder::before {
  content: url(../img/icon-reminders.svg);
  margin-right: 0.5rem;
}
nav .container--menu-web .container-options ul li.planning::before {
  content: url(../img/icon-planning.svg);
  margin-right: 0.5rem;
}
nav .container--menu-web .container-login {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
nav .container--menu-web .container-login p {
  cursor: pointer;
}
nav .menu-hamburguer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}
@media screen and (min-width: 50em) {
  nav .menu-hamburguer {
    display: none;
  }
}
nav .menu-hamburguer span {
  border: 2px solid black;
  width: 20px;
  transition: 0.4s;
  z-index: 2;
}
nav .menu-hamburguer.active span:nth-child(1) {
  transform: rotate(45deg);
  transition: 0.4s;
}
nav .menu-hamburguer.active span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: -6px;
  transition: 0.4s;
}
nav .menu-hamburguer.active span:nth-child(3) {
  display: none;
}

.container--menu-nav {
  background-color: white;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
  height: 600px;
  transition: 0.4s;
  box-shadow: rgba(0, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.container--menu-nav ul.content--menu {
  margin-left: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.container--menu-nav ul.content--menu li {
  list-style: none;
  color: grey;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}
.container--menu-nav ul.content--menu li.icon.features ul.container-submenu.features {
  margin-left: 1rem;
  display: none;
}
.container--menu-nav ul.content--menu li.icon.features ul.container-submenu.features li {
  margin: 1rem 0;
}
.container--menu-nav ul.content--menu li.icon.features ul.container-submenu.features li.todo-list::before {
  content: url(../img/icon-todo.svg);
  margin-right: 0.5rem;
}
.container--menu-nav ul.content--menu li.icon.features ul.container-submenu.features li.calendar::before {
  content: url(../img/icon-calendar.svg);
  margin-right: 0.5rem;
}
.container--menu-nav ul.content--menu li.icon.features ul.container-submenu.features li.reminder::before {
  content: url(../img/icon-reminders.svg);
  margin-right: 0.5rem;
}
.container--menu-nav ul.content--menu li.icon.features ul.container-submenu.features li.planning::before {
  content: url(../img/icon-planning.svg);
  margin-right: 0.5rem;
}
.container--menu-nav ul.content--menu li.icon.features ul.container-submenu.features.active {
  display: inline-block;
}
.container--menu-nav ul.content--menu p.ico.features::after {
  margin-left: 0.5rem;
  content: url(../img/icon-arrow-down.svg);
  cursor: pointer;
}
.container--menu-nav ul.content--menu p.ico.features.active::after {
  content: url(../img/icon-arrow-up.svg);
}
.container--menu-nav ul.content--menu li.icon.company ul.container-submenu.company {
  margin-left: 1rem;
  display: none;
}
.container--menu-nav ul.content--menu li.icon.company ul.container-submenu.company li {
  margin: 1rem 0;
}
.container--menu-nav ul.content--menu li.icon.company ul.container-submenu.company.active {
  display: inline-block;
}
.container--menu-nav ul.content--menu p.ico.company::after {
  margin-left: 0.5rem;
  content: url(../img/icon-arrow-down.svg);
  cursor: pointer;
}
.container--menu-nav ul.content--menu p.ico.company.active::after {
  content: url(../img/icon-arrow-up.svg);
}
.container--menu-nav.active {
  display: inline-block;
  right: 0;
  transition: 0.4s;
}
.container--menu-nav ul.content--count {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-top: 3rem;
}
.container--menu-nav ul.content--count li {
  list-style: none;
  color: grey;
  cursor: pointer;
}
.container--menu-nav ul.content--count a {
  text-align: center;
  text-decoration: none;
  color: grey;
  padding: 0.6rem 4rem;
  border: 0.1rem solid grey;
  border-radius: 1.6rem;
}

.container--img-header figure img {
  width: 100%;
  object-fit: contain;
}

.container--content {
  margin: 2rem 0;
}
.container--content .content--title {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}
.container--content .content--paragraph {
  margin-bottom: 1rem;
  width: 90%;
  margin: 0 auto 2rem;
  text-align: center;
  color: #8f8f8f;
}
.container--content .content--button {
  display: flex;
  justify-content: center;
}
.container--content .content--button button {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.container--afiliates {
  margin: 5rem 0.2rem;
}
.container--afiliates figure {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.container--afiliates figure img {
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
