@media only screen and (min-width:320px) and (max-width: 425px) {
    h1{
        font-size: 40px;
    }
    .first-section .menu{
        position: fixed;
        padding: 0px;
        top: 80%;
        border-radius: 10px;
    }
    .first-section .menu a{
        padding: 20px 10px;
        text-decoration: none;
        font-size: 15px;
        transition: 1s;
    }
    .first-section .certifications figure{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100vw;
    }
    .first-section .certifications figure img{
        width: 120px;
        padding: 10px;
        object-fit: cover;
    }
    .second-section .img-uxui figure{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100vw;
    }
    .second-section .img-uxui figure img{
        width: 80px;
        object-fit: cover;
    }
    .third-section .wordpress figure{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100vw;
    }
    .third-section .wordpress figure img{
        width: 120px;
        object-fit: cover;
    }
    .fourth-section .maquetacion figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        justify-items: center;
    }
    .fourth-section .maquetacion figure img{
        width: 120px;
        object-fit: cover;
    }
}