*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
body, section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #051937, #141a3f, #241946, #351649, #470f4a);
}
.first-section div .img-perfil img{
    width: 200px;
}
.first-section .content-perfil{
    margin-top: 30px;
}
.first-section .content-perfil h1{
    letter-spacing: 1.5px;
    font-weight: 400;
}
.first-section .hv-perfil{
    padding: 18px 28px;
    border: 1px solid rgba(255, 255, 255, 0.186);
    margin-bottom: 55px;
    margin-top: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
}
.first-section .hv-perfil a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: normal;
}
.first-section .certifications figure{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-x: auto;
    max-width: 90vw;
    width: 100%;
}
.first-section .certifications figure img{
    width: 500px;
    object-fit: cover;
}