@import "./mixin";
.verMasSection{
    .verMas{
        @include btn;
    }
}
.btnReturn{
    @include btn;
    position: relative;
}
.btnReturn::before{
    content: '\25C2';
    position: absolute;
    top: -40px;
    left: 40px;
    color: white;
    font-size: 70px;
}