@import "./mediaQuerys";
//RESETEAR LOS ESTILOS
@font-face{
  font-family: 'Quicksand-Bold';
  src: url(/Assets/Fonts/Quicksand-Bold.ttf);
}
@font-face{
  font-family: 'Quicksand-light';
  src: url(/Assets/Fonts/Quicksand-Light.ttf);
}
@font-face{
  font-family: 'Quicksand-Medium';
  src: url(/Assets/Fonts/Quicksand-Medium.ttf);
}
@font-face{
  font-family: 'Quicksand-Regular';
  src: url(/Assets/Fonts/Quicksand-Regular.ttf);
}
@font-face{
  font-family: 'Quicksand-SemiBold';
  src: url(/Assets/Fonts/Quicksand-SemiBold.ttf);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* No olvides definir estilos para focus */
:focus {
  outline: 0;
}

/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* En el código HTML es necesario añadir cellspacing="0" */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
//RESETEAR LOS ESTILOS
body {
    background-image: linear-gradient(to right, #051937, #141a3f, #241946, #351649, #470f4a);
    position: relative;
}
a {
    text-decoration: none;
    font-size: 16px;
    @include movil{
        font-size: 10px;
    }
}

h1{
    font-size: 36px;
    @include movil{
        font-size: 18px;
    }
}
