/* --------------- Vars -------------------- */

$size-root: 16px;

/* --------------- Maps -------------------- */

$colors: (
    "color1": #FFFFFF,
    "color2": #3C747BAB,
    "color3": #448892,
    "color4": #55A738,
    "color5": #eff3f4
);

$sizes: (
    "xxxs": $size-root * 0.5,
    "xxs": $size-root * 0.625,
    "xs": $size-root * 0.75,
    "s": $size-root * 0.875,
    "m": $size-root * 1,
    "l": $size-root * 1.5,
    "xl": $size-root * 2,
    "xxl": $size-root * 2.5,
    "xxxl": $size-root * 3,
    "xxxxl": $size-root * 3.5,
    "xxxxxl": $size-root * 4,
    "xxxxxxl": $size-root * 4.5 
);

$sizes-mq: (
    "xxs": 320px,
    "xs": 375px,
    "s": 425px,
    "m": 768px,
    "l": 1024px,
    "xl": 1440px,
);

$direction: (
    top,
    bottom,
    left, 
    right,
    block,
    inline  
);