*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{    
    background-image: linear-gradient(to right, #051937, #141a3f, #241946, #351649, #470f4a);
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: #470f4a;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: flex-start;
}
.content{
    margin: 10px 10px 30px 10px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.323);
    max-width: 300px;
    max-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.content img{
    border-radius: 20px;
    margin-bottom: 10px;
    max-height: 50vh;
    object-fit: contain;
}
.content h2{
    color: white;
    text-align: center;
    padding-bottom: 5px;
}
.content p{
    color: white;
    text-align: justify;
    padding-bottom: 5px;
}
.content .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skill span{
    color: white;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.323);
}