*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}
body{
  background-image: linear-gradient(to right, #051937, #141a3f, #241946, #351649, #470f4a);
}
body, section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
.first-section div .img-perfil img{
  width: 200px;
}
.first-section .content-perfil{
  margin-top: 30px;
}
.first-section .content-perfil h1{
  letter-spacing: 1.5px;
  font-weight: 400;
}
.first-section .skills-perfil h2{
  font-weight: 400;
}
.first-section .hv-perfil{
  margin-bottom: 55px;
  margin-top: 40px;
}
.first-section .hv-perfil a{
  padding: 18px 28px;
  border: 1px solid rgba(255, 255, 255, 0.186);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: normal;
}
.first-section .certifications figure{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  justify-items: center;
}
.first-section .certifications figure img{
  width: 300px;
  padding: 10px;
  object-fit: cover;
}
.first-section .menu{
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  background: linear-gradient(#051937, #470f4a);
  position: fixed;
  top: 85%;
  border-radius: 20px;
}
.first-section .menu a{
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
  color: white;
}
.first-section .menu a:hover{
  background: rgba(255, 255, 255, 0.3);
  color: white;
  transition: .8s;
}
.second-section .img-uxui h1{
  padding: 50px 0;
  font-size: 50px;
  font-weight: 400;
}
.second-section .img-uxui figure{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  justify-items: center;
  flex-wrap: wrap;
}
.second-section .img-uxui figure img{
  width: 200px;
  object-fit: cover;
  padding: 10px;
}
.third-section .wordpress h1{
  padding: 50px 0;
  font-size: 50px;
  font-weight: 400;
}
.third-section .wordpress figure{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3;
  justify-items: center;
  flex-wrap: wrap;
}
.third-section .wordpress figure img{
  width: 300px;
  object-fit: cover;
  padding: 10px;
}
.fourth-section .maquetacion .proyectos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.fourth-section .maquetacion h1{
  padding: 50px 0;
  font-size: 50px;
  font-weight: 400;
}
.fourth-section{
  padding-bottom: 150px;
}
.fourth-section .proyectosMaquetacion{
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.207);
}
.fourth-section .proyectosMaquetacion .contactList{
  margin-bottom: 30px;
}
.fourth-section .proyectosMaquetacion .badges{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fourth-section .proyectosMaquetacion .badges span{
  margin: 10px 10px;
  background-color: rgba(255, 255, 255, 0.207);
  padding:10px 20px;
  border-radius: 200px;
}
.verMas{
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  background: linear-gradient(#051937, #470f4a);
  top: 85%;
  border-radius: 20px;
}
.verMas a{
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
  color: white;
}
.verMas a:hover{
  background: rgba(255, 255, 255, 0.3);
  color: white;
  transition: .8s;
}