*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.tituloDocumento{
    text-align: center;
    padding: 0 0 70px 0;
}
.imagenesPlanetas{
    display: flex;
    justify-content: space-around;
}

figure{
    text-align: center;
}

.imagenMarte img{
    width: 50px;
}

.imagenJupiter img{
    width: 200px;
}